.great-section {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto 136px;
    padding: 0 20px;
    background-repeat: no-repeat;
    width: 100%;
}

.great-title-and-text {
    background-image: url('../../images/background\ coffeei-img.png');
    padding: 117px 0 0 85px;
}

.great-title {
    margin-bottom: 32px;
    width: 493px;
    height: 145px;
}

.great-h1 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.great-text {
    margin-bottom: 56px;
    width: 445px;
    height: 78px;
}

.great-text-inn {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.create {
    margin-bottom: 116px;
    padding: 15px 31px 16px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    display: inline-block
}